.container {
  width: 1000px;
  margin: auto;
  text-align: center;
  background-color: #496165;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
}

.title {
  border-bottom: 3px solid white;
  padding-bottom: 10px;
}

.container ul {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 15px;
  list-style: none;
}

.box-list {
  background-color: black;
  border-radius: 8px;
  display: flex;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

form {
  padding: 10px;
}

form label {
  margin-right: 10px;
}

form .button {
  outline: none;
  border: none;
  padding: 5px 20px;
  color: white;
  background-color: black;
  border-radius: 8px;
  font-size: 1rem;
}
